---
---
{% assign localPage = page.path | split: "/" | last %}
{% include fragment-modelType.html type='{{[type]}}' id='{{[id]}}' lang="{{[lang]}}" %}
{% include fragment-pagebegin.html lang="{{[lang]}}" %}
<!-- layouts\layout-changehistory.html -->

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='history' lang="{{[lang]}}" %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: {{site.data.resources[resource_].titlelang['{{[lang]}}'] | escape_once}} - {{site.data.stringsBase['{{[lang]}}']['ChangeHistory']}}</h2>
{% assign modelLower = modelType | downcase %}
{% capture artifact %}{{[id]}} {{modelLower}}{% endcapture %}
  <p>{{site.data.stringsBase['{{[lang]}}']['HistoryOfChange'] | replace: "%ARTIFACT%", artifact}}</p>

  {% include {{[type]}}-{{[id]}}-history{{[langsuffix]}}.xhtml %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html lang="{{[lang]}}" %}
